@model List<Connection>
@{
    ViewData["Title"] = "Connections";
}

<div style="height: 56px">
    <div style="float: left;line-height: 53px;font-weight: 600;font-size: 20px;">
        @ViewData["Title"]
    </div>
    <div style="float:right;line-height: 51px;">
        <a asp-area="" asp-controller="Connection" asp-action="New" class="">
            <button type="button" class="btn btn-secondary btn-sm">New connection</button>
        </a>
    </div>
</div>

<table class="table table-hover table-striped table-bordered table-sm">
    <thead style="background-color:#343a40;color: white;">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Host</th>
            <th scope="col">Port</th>
            <th scope="col">Database</th>
            <th scope="col">Login</th>
            <th scope="col" style="width: 10px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td><a asp-area="" asp-controller="Connection" asp-action="Update" asp-route-id="@item.Id">@item.Name</a></td>
                <td>@item.Type</td>
                <td>@item.Host</td>
                <td>@item.Port</td>
                <td>@item.Database</td>
                <td>@item.Login</td>
                <td><a asp-area="" asp-controller="Connection" asp-action="Delete" asp-route-id="@item.Id" class="badge badge-danger">X</a></td>
            </tr>
        }
    </tbody>
</table>
